[submodule "external/Azure-Kinect-Sensor-SDK"]
	path = external/Azure-Kinect-Sensor-SDK
	url = https://github.com/microsoft/Azure-Kinect-Sensor-SDK.git
    ignore = dirty
[submodule "libs/calibration"]
	path = libs/calibration
	url = git@github.com:edisonslightbulbs/calibration.git
[submodule "libs/homography"]
	path = libs/homography
	url = git@github.com:edisonslightbulbs/homography.git
[submodule "libs/SVD"]
	path = libs/SVD
	url = git@github.com:edisonslightbulbs/SVD.git
[submodule "libs/Point"]
	path = libs/Point
	url = git@github.com:edisonslightbulbs/Point.git
[submodule "libs/procam-calibration"]
	path = libs/procam-calibration
	url = git@github.com:edisonslightbulbs/procam-calibration.git
[submodule "libs/K4a"]
	path = libs/K4a
	url = git@github.com:edisonslightbulbs/K4a.git
