[submodule "external/Azure-Kinect-Sensor-SDK"]
	path = external/Azure-Kinect-Sensor-SDK
	url = https://github.com/microsoft/Azure-Kinect-Sensor-SDK.git
    ignore = dirty
[submodule "libs/calibration"]
	path = libs/calibration
	url = git@github.com:edisonslightbulbs/calibration.git
[submodule "libs/kinect-k4a"]
	path = libs/kinect-k4a
	url = git@github.com:edisonslightbulbs/kinect-k4a.git
